
<!DOCTYPE html>
<html>
  <body>
    <form action='/add_link' method='post'>
      <label for='link_url'>
        Add a new link URL here:
        <input type='text' name='link_url'>
      </label>
      <label for='link_url'>
        Add a new link title here:
        <input type='text' name='link_title'>
      </label>
      <button type='submit'>Add link</button>
    </form>
    <%= styled_flash %>
    <ul>
      <% @links.each do |link| %>
        <li id="link-<%=link.id%>">
          <a href="<%= link.url %>"><%=link.title%></a>
          <form action='/delete_link' method='post'>
            <input type="hidden" name="id_to_delete" value="<%= link.id %>">
            <button type='submit'>Delete</button>
          </form>
        </li>
      <% end %>
    </ul>
  </body>
</html>
