
<!DOCTYPE html>
<html>
  <body>
    <form action='/links/add' method='post'>
      <label for='link_url'>
        URL:
        <input type='text' name='link_url' required>
      </label>
      <label for='link_title'>
        Title:
        <input type='text' name='link_title' required>
      </label>
      <button type='submit'>Add link</button>
    </form>
    <%= styled_flash %>
    <ul>
      <% @links.each do |link| %>
        <li id="link-<%=link.id%>">
          <a href="<%=link.url%>"><%=link.title%></a>
          <form action='/links/delete' method='post'>
            <input type="hidden" name="id_to_delete" value="<%=link.id%>">
            <button type='submit'>Delete</button>
          </form>
          <form action='/links/edit' method='post'>
            <input type="hidden" name="id_to_edit" value="<%=link.id%>">
            <input type="hidden" name="current_url" value="<%=link.url%>">
            <input type="hidden" name="current_title" value="<%=link.title%>">
            <button type='submit'>Edit</button>
          </form>
          <form action='/comments/add' method='post'>
            <input type="hidden" name="id_to_comment" value="<%=link.id%>">
            <button type='submit'>Add comments</button>
          </form>
          <ul style='list-style-type:square'>
            <%@comment.all(link).each do |comment|%>
              <li><%=comment.text%></li>
            <%end%>
          </ul>
        </li>
      <% end %>
    </ul>
  </body>
</html>
